<div class="card">
  <div class="card-header bg-info text-white">
    <h5 class="card-title">Mesures du client</h5>
  </div>
  <div class="card-body">
    {% if mesures|length > 0 %}
      <table class="table table-bordered table-sm">
        <thead>
        <tr style="font-weight: bold; text-align:center;">
                    
                    <th colspan="7">Mesures du haut</th>
                    <th colspan="7">Mesures du bas</th>
                  </tr>
                  <tr style="font-weight: bold; text-align:center;">
                    <!-- Haut -->
                    <th>Épaules</th>
                    <th>Poitrine</th>
                    <th>Manches</th>
                    <th>Encolure</th>
                    <th>Poignet</th>
                    <th>Écart dos</th>
                    <th>Longueur</th>

                    <!-- Bas -->
                    <th>Tour ventrale</th>
                    <th>Cuisse</th>
                    <th>Fermeture</th>
                    <th>Ceinture</th>
                    <th>Taille</th>
                    <th>Longueur pantalon</th>
                    <th>Bas pantalon</th>
          <tr>
           
        </thead>
        <tbody>
          {% for mesure in mesures %}
            <tr>
                        <td>{{ mesure.epaule }} cm</td>
                        <td>{{ mesure.poitrine }} cm</td>
                        <td>{{ mesure.manche }} cm</td>
                        <td>{{ mesure.encolure }} cm</td>
                        <td>{{ mesure.poignee }} cm</td>
                        <td>{{ mesure.ecartDos }} cm</td>
                        <td>{{ mesure.longueur }} cm</td>

                        {# Mesures du bas #}
                        <td>{{ mesure.tourVentrale }} cm</td>
                        <td>{{ mesure.cuisse }} cm</td>
                        <td>{{ mesure.fermeture }} cm</td>
                        <td>{{ mesure.ceinture }} cm</td>
                        <td>{{ mesure.taille }} cm</td>
                        <td>{{ mesure.longueurPantalon }} cm</td>
                        <td>{{ mesure.basPantalon }} cm</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Aucune mesure enregistrée pour ce client.</p>
    {% endif %}
  </div>
</div>
