{% extends 'layout_main.html.twig' %}
{% block title %}Nouvel commande
	{% endblock %}
{% block content %}
<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Nouvel commande</h1>
			 {% if classe is defined %}
			<div class="{{classe}}">{{resultat}}</div>
		{% endif %}
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
	    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
     <div class="row">
          <div class="col-12">

            <div class="card">
             
   <div class="card-body">
  <div class="container" style="padding-top: 0;">
<br>
    {{ form_start(form) }}

   
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          {{ form_label(form.typeCom, 'Type commande') }}
          {{ form_widget(form.typeCom, {'attr': {'class': 'form-control', 'placeholder':'Entrez le type de commande'}}) }}
          {{ form_errors(form.typeCom) }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{ form_label(form.datRec, "Date recuperation ", {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(form.datRec, {'attr': {'class': 'form-control', 'placeholder':'Entrez la date de recuperation'}}) }}
          {{ form_errors(form.datRec) }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          {{ form_label(form.montant, 'Montant (FCFA)') }}
          {{ form_widget(form.montant, {'attr': {'class': 'form-control', 'placeholder':'Entrez le montant'}}) }}
          {{ form_errors(form.montant) }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{ form_label(form.avance, 'Avance (FCFA)') }}
          {{ form_widget(form.avance, {'attr': {'class': 'form-control', 'placeholder':'Entrez l\'avance'}}) }}
          {{ form_errors(form.avance) }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          {{ form_label(form.filemod, 'Modele') }}
          {{ form_widget(form.filemod, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.filemod) }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          {{ form_label(form.filetissu, 'Tissu') }}
          {{ form_widget(form.filetissu, {'attr': {'class': 'form-control'}}) }}
          {{ form_errors(form.filetissu) }}
        </div>
      </div>
    </div>
     
    <div class="form-group">
      <button type="submit" class="btn btn-primary"style="margin-right:15px">Enregistrer</button>
      <i class ="fa fa-ban"><a href="{{ path('list_commande')}}"> <strong>Annuler</strong></a></i>

    </div>
    {{ form_end(form) }}
  
</div>
{% endblock %}
