{% extends 'layout_main.html.twig' %}
{% block title %}Nouvel client
	{% endblock %}
{% block content %}
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Nouvel client</h1>
        {% if classe is defined %}
          <div class="{{classe}}">{{resultat}}</div>
        {% endif %}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {{ form_label(form.firstName, 'Prénom') }}
                  {{ form_widget(form.firstName, {'attr': {'class': 'form-control', 'placeholder':'Entrez votre prénom'}}) }}
                  {{ form_errors(form.firstName) }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{ form_label(form.lastName, 'Nom') }}
                  {{ form_widget(form.lastName, {'attr': {'class': 'form-control', 'placeholder':'Entrez votre nom'}}) }}
                  {{ form_errors(form.lastName) }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {{ form_label(form.telephone, 'Téléphone') }}
                  {{ form_widget(form.telephone, {'attr': {'class': 'form-control', 'placeholder':'Entrez votre téléphone', 'pattern':'^\\d{8}$', 'title':'Le numéro de téléphone doit contenir exactement 8 caractéres.', 'maxlength':'8', 'minlength':'8'}}) }}
                  {{ form_errors(form.telephone) }}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {{ form_label(form.adresse, 'Adresse') }}
                  {{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'placeholder':'Entrez votre adresse'}}) }}
                  {{ form_errors(form.adresse) }}
                </div>
              </div>
            </div>
            <div class="form-group">
              {{ form_label(form.email, 'Email') }}
              {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'Entrez l\'email'}}) }}
              {{ form_errors(form.email) }}
            </div>
            <div class="form-group text-right">
              <button type="submit" class="btn btn-primary" style="margin-right:15px">Enregistrer</button>
              {% if not is_granted('ROLE_TAILLEUR') %}
              <a href="{{ path('client_list') }}" class="btn btn-secondary">Annuler</a>
            {% endif %}
            </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}