{% extends 'layout_main.html.twig' %}
{% block content %}
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <h6 class="font-weight-bolder mb-0" ><img src="{{ asset('assets/img/IDMleDEV.jpg') }}" alt="Logo" class="img-fluid" style="max-width: 35px;">
          &nbsp;&nbsp;IDMLEDEV</h6>
        </nav>
        
      </div>
    </nav>
<br>
<section class="content-header">
  <div class="row">
		  <div class="col-lg-3 col-xs-6" style="background-color: info;">
			  <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
          					<h3>{{render(controller('App\\Controller\\CommandeController::getCommandeAllStatut')) |number_format(0, ',', ' ') }}</h3>
            <h5 style="padding-left: 10px;">Non demarré</h5>
          </div>
          <div class="icon">
            <i class="fa fa-building"></i>
          </div>
          <a href="{{ path('cmd_aff_NonDem') }}" class="small-box-footer">voir plus
            <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
		  </div>
				<div class="col-lg-3 col-xs-6" style="background-color: orange; ">
			<!-- small box -->
			<div class="small-box bg-orange">
				<div class="inner">
        <h3>{{render(controller('App\\Controller\\CommandeController::getCommande1AllStatut')) |number_format(0, ',', ' ') }}</h3>
					 <h5 style="padding-left: 10px;">Encours</h5>
				</div>
				<div class="icon">
					<i class="fa fa-building"></i>
				</div>
				<a href="{{ path('cmd_aff_Encours') }}" class="small-box-footer">voir plus
					<i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		  </div>
				<div class="col-lg-3 col-xs-6" style="background-color: success; ">
			<!-- small box -->
			<div class="small-box bg-success">
				<div class="inner">
        <h3>{{render(controller('App\\Controller\\CommandeController::getCommande2AllStatut')) |number_format(0, ',', ' ') }}</h3>
				 <h5 style="padding-left: 10px;">Terminer</h5>
				</div>
				<div class="icon">
					<i class="fa fa-building"></i>
				</div>
				<a href="{{ path('cmd_aff_Terminer') }}" class="small-box-footer">voir plus
					<i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>
		<div class="col-lg-3 col-xs-6" style="background-color: Yellow; ">
			<!-- small box -->
			<div class="small-box bg-Yellow">
				<div class="inner">
          <h3>{{render(controller('App\\Controller\\CommandeController::getCommande3AllStatut')) |number_format(0, ',', ' ') }}</h3>
				 <h5 style="padding-left: 10px;">Livrer</h5>
          </div>
				<div class="icon">
					<i class="fa fa-building"></i>
				</div>
				<a href="{{ path('cmd_aff_Livrer') }}" class="small-box-footer">voir plus
					<i class="fa fa-arrow-circle-right"></i>
				</a>
			</div>
		</div>	
	</div><br>

		<div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Commande </h3>
                  <a href=#>Rapports statistiques du mois</a>
                </div>
              </div>
              <div class="card-body">
                <div class="d-flex">
                  <p class="d-flex flex-column">
                    <span class="text-bold text-lg"></span>
                    <span></span>
                  </p>
                  <p class="ml-auto d-flex flex-column text-right">
                    <span class="text-success">
                     <i class="fas fa-arrow-up"></i> 
                    </span>
                    <span class="text-muted"></span>
                  </p>
                </div>
                <!-- /.d-flex -->

                <div class="position-relative mb-4">
                  <canvas id="visitors-chart" height="200"></canvas>
                </div>

                <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> 
                  </span>

                  <span>
                    <i class="fas fa-square text-gray"></i> 
                    
                  </span>
                </div>
              </div>
            </div><br><br>
            <!-- /.card -->

            <div class="card">
              <div class="card-header border-0">
              <a href="#" class="#">
                <h3 class="card-title"></h3>
                <div class="card-tools">
                  <a href="#" class="">
                    <i class=""></i>
                  </a>
                  <a href="#" class="">
                    <i class=""></i>
                  </a>
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Commande</h3>
                  <a href=#>Rapports statistiques du mois</a>
                </div>
              </div>
              <div class="card-body">
                <div class="d-flex">
                  <p class="d-flex flex-column">
                    <span class="text-bold text-lg"></span>
                    <span></span>
                  </p>
                  <p class="ml-auto d-flex flex-column text-right">
                    <span class="text-success">
                      <i class="fas fa-arrow-up"></i>
                    </span>
                    <span class="text-muted"></span>
                  </p>
                </div>
                <!-- /.d-flex -->

                <div class="position-relative mb-4">
                  <canvas id="sales-chart" height="200"></canvas>
                </div>

                <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-primary"></i>
                  </span>

                  <span>
                    <i class="fas fa-square text-gray"></i>
                  </span>
                </div>
              </div>
            </div><br><br>
            <!-- /.card -->

            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Commandes du Mois Actuel</h3>
                <div class="card-tools">
                  <a href="#" class="btn btn-sm btn-tool">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-tool">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>

              <div class="card-body">
               <div class="d-flex justify-content-between align-items-center border-bottom mb-3 btn btn-info">
                  <p class="text-success text-xl">
                    <i class="ion ion-ios-refresh-empty"></i>
                  </p>
                  <p class="d-flex flex-column text-right">
                    <span class="font-weight-bold, text-black">
                      <i class="ion ion-android-arrow-up text-success"></i>{{response}}  
                    Commandes Non demaré</span>
                  </p>
                </div>
                <div class="d-flex justify-content-between align-items-center border-bottom mb-3 btn btn-warning">
                  <p class="text-success text-xl">
                    <i class="ion ion-ios-refresh-empty"></i>
                  </p>
                  <p class="d-flex flex-column text-right">
                    <span class="font-weight-bold, text-black">
                      <i class="ion ion-android-arrow-up text-success"></i>{{result1}} 
                    Commandes encours</span>
                  </p>
                </div>
                <!-- /.d-flex -->
                <div class="d-flex justify-content-between align-items-center border-bottom mb-3 btn btn-success">
                  <p class="text-warning text-xl">
                    <i class="ion ion-ios-cart-outline"></i>
                  </p>
                  <p class="d-flex flex-column text-right">
                    <span class="font-weight-bold, text-black">
                      <i class="ion ion-android-arrow-up text-warning"></i>{{result2}}
                   Commandes terminés</span>
                  </p>
                </div>
                <!-- /.d-flex -->
                <div class="d-flex justify-content-between align-items-center mb-0 btn btn-primary">
                  <p class="text-danger text-xl">
                    <i class="ion ion-ios-people-outline"></i>
                  </p>
                  <p class="d-flex flex-column text-right">
                    <span class="font-weight-bold, text-black">
                      <i class="ion ion-android-arrow-down text-danger"></i>{{result3}} 
                   Commandes livrer</span>
                  </p>
                </div>
                <!-- /.d-flex -->
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
		<!-- /.row -->
		
		<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('plugins/chart.js/Chart.min.js') }}"></script>
		<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
		
	<script>
           $(function () {

            var ticksStyle = {
              fontColor: '#495057',
              fontStyle: 'bold'
            }

      var mode      = 'index'
      var intersect = true
      var labels = [];
		  var data1 = [];
      var data2 = [];
  var $salesChart = $('#sales-chart')
  

   

  var salesChart  = new Chart($salesChart, {
    type   : 'bar',
    data   : {
      labels  : 0,
      datasets: [
        {
          backgroundColor: '#007bff',
          borderColor    : '#007bff',
          data           : 0
        },
        {
          backgroundColor: '#ced4da',
          borderColor    : '#ced4da',
          data           : 0
        }
      ]
    },
    options: {
      maintainAspectRatio: false,
      tooltips           : {
        mode     : mode,
        intersect: intersect
      },
      hover              : {
        mode     : mode,
        intersect: intersect
      },
      legend             : {
        display: false
      },
      scales             : {
        yAxes: [{
          // display: false,
          gridLines: {
            display      : true,
            lineWidth    : '4px',
            color        : 'rgba(0, 0, 0, .2)',
            zeroLineColor: 'transparent'
          },
          
        }],
        xAxes: [{
          display  : true,
          gridLines: {
            display: false
          },
          
        }]
      }
    }
  })
  var labels = [];
		  var data1 = [];
      var data2 = [];
  var $visitorsChart = $('#visitors-chart')
 

  var visitorsChart  = new Chart($visitorsChart, {
    data   : {
      labels  : 0,
      datasets: [{
        type                : 'line',
        data                : 0,
        backgroundColor     : 'transparent',
        borderColor         : '#007bff',
        pointBorderColor    : '#007bff',
        pointBackgroundColor: '#007bff',
        fill                : false
        // pointHoverBackgroundColor: '#007bff',
        // pointHoverBorderColor    : '#007bff'
      },
        {
          type                : 'line',
          data                : 0,
          backgroundColor     : 'tansparent',
          borderColor         : '#ced4da',
          pointBorderColor    : '#ced4da',
          pointBackgroundColor: '#ced4da',
          fill                : false
          // pointHoverBackgroundColor: '#ced4da',
          // pointHoverBorderColor    : '#ced4da'
        }]
    },
    options: {
      maintainAspectRatio: false,
      tooltips           : {
        mode     : mode,
        intersect: intersect
      },
      hover              : {
        mode     : mode,
        intersect: intersect
      },
      legend             : {
        display: false
      },
      scales             : {
        yAxes: [{
          // display: false,
          gridLines: {
            display      : true,
            lineWidth    : '4px',
            color        : 'rgba(0, 0, 0, .2)',
            zeroLineColor: 'transparent'
          },
         
        }],
        xAxes: [{
          display  : true,
          gridLines: {
            display: false
          },
         
        }]
      }
    }
  })
})
        </script>

  {% endblock %}
