  {% extends 'layout_main.html.twig' %}
{% block title %}Liste rdvs
	{% endblock %}
{% block autresfichierscss %}
 
{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Liste rdvs</h1>
             {% if classe is defined %}
			<div class="{{classe}}">{{resultat}}</div>
		{% endif %}
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              {# <li class="breadcrumb-item"><a href="#">Accueil</a></li> #}
              {# <li class="breadcrumb-item active">Liste rdvs</li> #}
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tableau de liste des rdvs</h3>
				          <div class="card-tools">
                  <div class="input-group input-group-sm">
                   {# <a href="{{ path('rdv_add') }}" class="btn btn-success btn-sm ml-3">
										<i class="fa fa-plus"></i>
										Nouveau rdv
									</a> #}
					        </div></div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="rdv" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Nom & Prénom</th>
                      <th>Telephone</th>
                      <th>type commande</th>
                      <th>date</th>
                       <th>Supprimer </th>
							      </tr>
				          </thead>
                  <tbody>
                  {% block alerts %}
  {% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
        {%if type == 'message'%} {% set type = 'info' %} {%endif%}
        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <p>{{ message|raw }}</p>
        </div>
    {% endfor %}
  {% endfor %}
                 {% endblock %}
                   {% for rdv in Rdvs %}
								    <tr>
                      <td>{% if  rdv.commande %}
                      {{ rdv.commande.user.firstName }} {{ rdv.commande.user.lastName }}
                      {% else %}
                      
                      {% endif %}
                      </td>
                      <td style="color:blue"><strong>{% if  rdv.commande %}
                      {{ rdv.commande.user.telephone }}
                      {% else %}
                      
                      {% endif %}</strong>
                      </td>
                      <td>{% if  rdv.commande %}
                      {{ rdv.commande.typeCom }}
                      {% else %}
                      
                      {% endif %}
                      </td>
                      <td><strong>{% if  rdv.commande %}
                      {{ rdv.commande.datRec |date('d-m-Y') }}
                      {% else %}
                      
                      {% endif %}</strong>
                      </td>
                         {# {%if is_granted(role_admin) %} #}
                       
                      
                      <td><a class="btn btn-danger btn-sm" href="{{ path('delete_rdv', {'id': rdv.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimé ce rendez-vous ?')">
                              <i class="fa fa-trash"></i>
                              <span class="sr-only">delete</span>
                          </a> 
                          
									      </td>
                        {# {% endif %} #}
								    </tr>
						      	{% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                       <th>Nom & Prénom</th>
                      <th>Telephone</th>
                      <th>type commande</th>
                      <th>date</th>
                       <th>Supprimer </th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

  {% endblock %}
{% block autresFichiersJs %}
<!-- jQuery -->
<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- DataTables  & Plugins -->
<script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ asset('plugins/jszip/jszip.min.js') }}"></script>
<script src="{{ asset('plugins/pdfmake/pdfmake.min.js') }}"></script>
<script src="{{ asset('plugins/pdfmake/vfs_fonts.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
<script src="{{ asset('plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('dist/js/demo.js') }}"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#rdv").DataTable({
      "responsive": true,"aaSorting": [[0, "desc"]],oLanguage: {
sSearch: "Rechercher : ",
sZeroRecords: "Aucune valeur trouvée",
sInfo: "Afficher page _PAGE_ sur _PAGES_",
sInfoFiltered: "(Filtres sur _MAX_ )",
sInfoEmpty: "",
oPaginate: {
sFirst: "Premier",
sPrevious: "Pr&eacute;c&eacute;dent",
sNext: "Suivant",
sLast: "Dernier"
}
}, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#rdv_wrapper .col-md-6:eq(0)');
    
  });
</script>
  {% endblock %}



